/* Three column with top banner template
   Alan Riggins,
   
   The problem here is that the banner row along the top will cause the width
   of the page to exceed 100%.  You will have scroll bars even though
   the content doesn't reach the bottom of the browser window.
   
   The solution is to use absolute positioning for the banner along the 
   top.  This pulls the banner div out of the normal document flow.  The
   three columns underneath can then occupy 100% of the height without
   causing the unnecessary scroll bars to appear.  The padding at the
   top of the three divs' content must be set to move it down, otherwise 
   it would be hidden underneath the banner.  
   
   Note:  if you add margin or 
   padding to the div containers, the highth will exceed 100% and you have
   the same problem again--the unnecessary scroll bars.  Set the padding-top
   on the p tags inside the divs instead.  I have class="top" for the first
   paragraph in each div.
*/   



* {
    margin: 0;
    padding: 0;
    }
    
html, body {
    height: 100%;
    }
    
h1 {
    padding: 90px 0 0 0;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    text-align: center;
    }   

h2, h3 {
	padding: 10px 0 0 0;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: normal;
    text-transform: uppercase;
	}    
    
a.menulist:link, a.menulist:visited {
	width: 100px;
	height: 20px;
    background-color: #e28548;
    color: white;
    padding: 20px 20px 20px 20px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* Link box technique found on w3schools.com */

a.menulist:hover, a.menulist:active {
	width: 100px;
	height: 20px;
    background-color: #ed8344;
}
    
img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}    
    
p {
    padding: 10px 20px 10px 20px;
    }    

p.menu {
	text-align: center;
    } 
    
p.top {
    padding-top: 200px;
    }

p.disclaimer {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50%;
	font-style: italic;
}  

body {
	min-width: 1366px;
	min-height: 768px;
	max-width: 1980px;
	width: auto !important;
	width: 1366px;
}        

#banner {
	min-width: 1366px;
	max-width: 1980px;
    position: absolute;
    top: 0;
    left: 0;
    color: #EEF;
    background-image: url("bvlr_banner.jpg");
    background-size: 100% ;
    height: 200px;
    width: 100%;
    }  
    
#main {
    height: 100%;
    background-color: #fffae3;
    padding: 0 200px 0 200px;
    } 
    
ul {
	padding: 10px 30px 0 60px;
	list-style-type: none;
}    

table {
	color: #333; 
	width: 700px;
	border-collapse: collapse; border-spacing: 0;
}

td, th {
	border: 1px solid #CCC;
	height: 30px;
	} 

th {
	background: #e5dcb5;
	font-weight: bold; 
	}

td {
	background: #fffae3; 
	text-align: center; 
	}